@model MovieStore.Entities.Movie
@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-12 text-center">
        <h1>
            EDIT MOVIE
        </h1>
    </div>
</div>

<hr />






<div class="row">
    <div class="col-12 text-left">
        <a asp-action="Index">
            Back to LIst
        </a>
    </div>
</div>